.scroll-table-container {
    display: grid;
    overflow: auto;
    height: calc(100vh - 190px);
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;

    .ui.structured.table {
        border-collapse: separate;
    }
}

.cell-sticky {
    position: relative;
    vertical-align: top;

    &-value {
        position: sticky;
        top: 85px;
    }
}

.table-header-cell {
    /* background-color: white;*/
}

.table-row-click {
    &:hover {
        cursor: pointer;
    }
}

.wider {
    position: relative;
}

.table-header-menu {
    margin-bottom: 12px;
}

thead th {
    position: sticky;
    top: 0;
    z-index: 2;
}

.table-info {
    border-bottom: 1px solid #ddd !important;
    margin: 0 !important;

    td:hover {
        cursor: pointer;
        /* background-color: rgba(0,0,0,.05)!important*/
    }
    tr:hover .no-scroll-value {
        background-color: #f2f2f2 !important
    }
}

.no-scroll {
    position: sticky;
    background-color: inherit;
    left: 0;
    z-index: 7;

    &-value {
        background-color: white;
        z-index: 5;
    }
}
