.ui.menu {
    border-radius: 0 !important;
}

.ui.secondary.menu .item > img:not(.ui) {
    width: 8em !important;
    margin-right: 2em;
}

.ui.secondary.menu .dropdown.item > .menu,
.ui.text.menu .dropdown.item > .menu {
    border-radius: 0 !important;
    margin-top: 0 !important;
}

.ui.secondary.pointing.menu .item .active.item {
    border-color: transparent !important;
}

.ui.secondary.pointing.menu .active.item.dropdown {
    font-weight: initial;
}

.ui.secondary.pointing.menu .item.dropdown.superActive {
    border-color: #1b1c1d;
}

.ui.secondary.menu .header.item {
    padding: 0.5em 1.5em !important;
}

.header-support {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    &_contacts {
        margin-left: 12px;
        padding-right: 12px;
        border-right: 1px solid rgba(34,36,38,.15);
    }
}
